:root {
  --red-color: #ff6f61;
  --yellow-color: #edb33c;
  --green-color: #039d7e;
  --gray-color: #d9d9d9;
  --bg-color: #f9f9f9;
}

body {
  background-color: var(--bg-color);
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

nav ul {
  padding: 0;
  margin-bottom: 0;
}

nav li {
  display: inline;
  list-style: none;
  padding: 10px 10px 5px 10px;
  font-family: "Inter", sans-serif;
  transition: all 100ms;
}

nav a {
  color: black;
  opacity: 75%;
  text-decoration: none;
}

nav li.active a {
  color: var(--red-color);
}

nav li:hover {
  border-bottom: 2px solid var(--red-color);
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}

h3 {
  background-color: var(--red-color);
  border-radius: 30px;
  display: inline;
  font-family: "Italiana", serif;
  font-size: 36px;
  line-height: 3;
  margin-bottom: 40px;
  padding: 8px 30px;
}

.project-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

h4 {
  font-family: "Italiana", serif;
  font-size: 32px;
  margin-bottom: 15px;
}

.span-list {
  display: flex;
  flex-wrap: wrap;
}

span {
  background-color: var(--gray-color);
  border-radius: 30px;
  display: inline;
  padding: 8px 20px;
  margin: 5px;
}

p {
  font-family: "Inter", sans-serif;
  padding-bottom: 0px;
}

a.project-link {
  display: inline;
  padding-left: 50px;
}

span.arrow {
  background-color: var(--bg-color);
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  color: blue;
  display: inline;
}

.weather-app-imgs {
  display: flex;
  align-items: center;
}

.row .row .sm-size-img {
  border-radius: 30px;
  display: block;
  margin: 0px auto;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 380px;
}

.row .row .sm-size-img.xs {
  width: 360px;
}

a.project-link.below-img {
  padding: 0px 0px 0px 10px;
}

hr {
  margin: 50px;
}

.row .row img {
  border-radius: 50px;
  display: block;
  margin: 20px auto;
  width: 500px;
}

.row .row .landscape-img {
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  width: 800px;
}

.row .row .landscape-img.round-corners {
  border-radius: 40px;
}
