:root {
  --red-color: #ff6f61;
  --yellow-color: #edb33c;
  --green-color: #039d7e;
  --gray-color: #d9d9d9;
  --bg-color: #f9f9f9;
}

body {
  background-color: var(--bg-color);
}

nav {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

nav ul {
  padding: 0;
  margin-bottom: 0;
}

nav li {
  display: inline;
  list-style: none;
  padding: 10px 10px 5px 10px;
  font-family: "Inter", sans-serif;
  transition: all 100ms;
}

nav a {
  color: black;
  opacity: 75%;
  text-decoration: none;
}

nav li.active a {
  color: var(--red-color);
}

nav li:hover {
  border-bottom: 2px solid var(--red-color);
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}

h3 {
  background-color: var(--red-color);
  border-radius: 30px;
  display: inline;
  font-family: "Italiana", serif;
  font-size: 36px;
  line-height: 3;
  margin-bottom: 20px;
  padding: 8px 30px;
}

.project-container {
  margin: auto;
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
}

span.circle-detail {
  background-color: var(--red-color);
  font-size: 12px;
  padding: 0px 7px;
  margin: 5px 10px;
  position: relative;
  top: -8px;
}

h4 {
  font-family: "Italiana", serif;
  font-size: 32px;
  margin-bottom: 15px;
}

.span-list {
  display: flex;
  flex-wrap: wrap;
}

span {
  background-color: var(--gray-color);
  border-radius: 30px;
  display: inline;
  padding: 8px 20px;
  margin: 5px;
}

p {
  font-family: "Inter", sans-serif;
  padding-bottom: 0px;
  margin-top: 55px;
}

a.project-link {
  text-decoration: none;
}

a.project-link:hover {
  text-decoration: underline;
}

img.square-img {
  width: 350px;
  transition: 0.5s all ease-in-out;
}

img.round-corners {
  border-radius: 25px;
}

img.square-img:hover {
  transform: scale(1.05);
}

hr {
  margin: 50px;
  align-self: center;
}

@media (max-width: 576px) {
  .project-container {
    margin-top: 30px;
  }

  img.square-img {
    width: 320px;
    display: block;
    margin: auto;
    padding-top: 20px;
  }
}
